src/main/app/email-database-integration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:smtps="http://www.mulesoft.org/schema/mule/smtps" xmlns:imaps="http://www.mulesoft.org/schema/mule/imaps" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:context="http://www.springframework.org/schema/context" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/smtps http://www.mulesoft.org/schema/mule/smtps/current/mule-smtps.xsd
http://www.mulesoft.org/schema/mule/imaps http://www.mulesoft.org/schema/mule/imaps/current/mule-imaps.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <context:property-placeholder location="application.properties"/>
    <imaps:connector name="IMAP" moveToFolder="${gmail.processed}" validateConnections="true" doc:name="IMAP"/>
    <db:generic-config name="SQLite" url="jdbc:sqlite:${sqlite.path}/${sqlite.dbfile}" driverClassName="org.sqlite.JDBC" doc:name="Generic Database Configuration">
        <db:connection-properties>
            <db:property key="encoding" value="UTF-8"/>
        </db:connection-properties>
    </db:generic-config>
    <http:listener-config name="HTTPListenerConfiguration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="main-application-flow" tracking:enable-default-events="true">
        <imaps:inbound-endpoint host="${gmail.imap.host}" port="${gmail.imap.port}" user="${gmail.usr}" password="${gmail.pwd}" connector-ref="IMAP" responseTimeout="10000" doc:name="GMAIL"/>
        <logger message="#['New email received with subject &quot;' + message.inboundProperties.subject +'&quot; from ' + message.inboundProperties.From]" level="INFO" doc:name="Email Received"/>
        <expression-transformer doc:name="Get Attachments">
            <return-argument evaluator="attachments-list" expression="*"/>
        </expression-transformer>
        <collection-splitter doc:name="Collection Splitter"/>
        <custom-transformer class="cz.aimtec.gmail.TransformBodyPart" doc:name="Transform Body Part"/>
        <expression-filter expression="#[flowVars.contentType == &quot;text/csv&quot;]" doc:name="Release CSV"/>
        <logger message="#['CSV Content found ' + flowVars.file]" level="INFO" doc:name="CSV Content found"/>
        <set-payload value="#[message.payload]" mimeType="application/csv" doc:name="Set CSV MIME Type"/>
        <dw:transform-message doc:name="Transformation" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" metadata:id="da7a62f7-7e2d-4187-91ba-e2961f021940">
            <dw:input-payload/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json indent=false, skipNullOn="everywhere"
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <string-to-byte-array-transformer doc:name="String to Byte Array"/>
        <set-attachment attachmentName="#[flowVars.file+'.txt']" value="#[message.payload]" contentType="application/json" doc:name="Attachment"/>
        <set-payload value="Nazdárek" mimeType="text/plain" doc:name="Set Email Body"/>
        <smtps:outbound-endpoint host="${gmail.smtp.host}" port="${gmail.smtp.port}" user="${gmail.usr}" password="${gmail.pwd}" to="#[message.inboundProperties.From]" from="${gmail.fromaddress}" subject="Hello" responseTimeout="10000" doc:name="SMTP"/>
        <logger message="#['Response sent to ' + message.inboundProperties.From]" level="INFO" doc:name="Email Sent"/>
    </flow>
</mule>
