src/main/app/email-database-integration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:smtps="http://www.mulesoft.org/schema/mule/smtps" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
    xmlns:imaps="http://www.mulesoft.org/schema/mule/imaps" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:imap="http://www.mulesoft.org/schema/mule/imap" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/imap http://www.mulesoft.org/schema/mule/imap/current/mule-imap.xsd
http://www.mulesoft.org/schema/mule/imaps http://www.mulesoft.org/schema/mule/imaps/current/mule-imaps.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/smtps http://www.mulesoft.org/schema/mule/smtps/current/mule-smtps.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

    <context:property-placeholder location="application.properties" />

    <imaps:connector name="IMAP" validateConnections="true" doc:name="IMAP" moveToFolder="${gmail.processed}" />

    <flow name="applicationFlow">
        <imaps:inbound-endpoint host="${gmail.imap.host}" port="${gmail.imap.port}" user="${gmail.usr}" password="${gmail.pwd}" responseTimeout="10000" doc:name="GMAIL"
            connector-ref="IMAP" />
        <logger message="#['New email received with subject &quot;' + message.inboundProperties.subject +'&quot; from ' + message.inboundProperties.From]" level="INFO"
            doc:name="Logger" />
        <expression-transformer doc:name="Get Attachments">
            <return-argument evaluator="attachments-list" expression="*" />
        </expression-transformer>
        <collection-splitter doc:name="Collection Splitter" />
        <custom-transformer class="cz.aimtec.gmail.TransformBodyPart" doc:name="Transform Body Part" />
        <expression-filter expression="#[flowVars.contentType == &quot;text/csv&quot;]" doc:name="Release CSV" />
        <set-payload value="#[message.payload]" mimeType="application/csv" doc:name="Set CSV MIME Type"/>
        <dw:transform-message doc:name="Transformation" metadata:id="da7a62f7-7e2d-4187-91ba-e2961f021940">
            <dw:input-payload />
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json indent=false, skipNullOn="everywhere"
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logg Payload" />
        <string-to-byte-array-transformer doc:name="String to Byte Array"/>

        <set-attachment attachmentName="#[flowVars.file+'.txt']" value="#[message.payload]" contentType="application/json" doc:name="Attachment" />
        <set-payload value="Nazd&#225;rek" mimeType="text/plain" doc:name="Set Email Body"/>
        <smtps:outbound-endpoint host="${gmail.smtp.host}" port="${gmail.smtp.port}" user="${gmail.usr}" password="${gmail.pwd}"  responseTimeout="10000"
            doc:name="SMTP" subject="Hello" to="#[message.inboundProperties.From]" />
    </flow>

</mule>
