src/main/app/rest-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router" />

    <flow name="api-main">
        <http:listener config-ref="HTTPListenerConfiguration" path="/hrl/api/*" doc:name="HTTP" />
        <apikit:router config-ref="api-config" doc:name="APIkit Router" />
        <exception-strategy ref="apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>

    <flow name="get:/employee/{id}:api-config">
        <db:select config-ref="SQLite" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT * FROM employees WHERE emp_no = #[flowVars.id];]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload[0]]]></dw:set-payload>
        </dw:transform-message>
    </flow>

    <flow name="post:/employee:application/json:api-config">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <db:insert config-ref="SQLite" autoGeneratedKeys="true" autoGeneratedKeysColumnNames="emp_no" doc:name="Database">
            <db:parameterized-query><![CDATA[INSERT INTO employees (birth_date, first_name, last_name, gender, hire_date)
VALUES (
#[payload.birth_date],
#[payload.first_name],
#[payload.last_name],
#[payload.gender],
#[payload.hire_date]
);]]></db:parameterized-query>
        </db:insert>
        <set-variable variableName="id" value="#[payload[0]['last_insert_rowid()']]" doc:name="Last Insert RowId"/>
        <flow-ref name="get:/employee/{id}:api-config" doc:name="Flow Reference"/>

    </flow>

</mule>
